<div class="filters-card-container">
  <div *ngIf="data.isLoading$ | async">Loading...</div>
  <div class="show-places-container">
    <p>
      Showing 4 of <span>{{ data.totalCount }} places</span>
    </p>
    <p>Sort by <span>Recommended</span></p>
  </div>
  <div class="card-container" *ngFor="let hotel of hotels | slice : 0 : 4">
    <div class="card-photo">
      <img [src]="hotel?.cardBackground" alt="" />
    </div>
    <div class="card-items-container">
      <div class="card-info-container">
        <div class="card-title-price-container">
          <span class="card-title">{{ hotel.name }}</span>
          <p class="card-price">
            Starting from
            <span class="card-price-amount">
              {{ hotel.nightlyPrice | currency }}
            </span>
            <span class="card-price-unit"> /night</span>
          </p>
        </div>
        <div class="card-address">
          <img src="assets/icons/location.svg" alt="location_icon" />
          <p>{{ hotel.address.streetAddress }},{{ hotel.address.city }}</p>
        </div>
        <div class="card-rating">
          <p class="card-rating-value">{{ hotel.rating }}</p>
          <p class="card-rating-label"><span>Very Good</span> 371 reviews</p>
        </div>
      </div>
      <div class="card-buttons">
        <button class="card-button-icon">
          <img src="assets/icons/heart.svg" alt="heart_icon" />
        </button>
        <button class="card-button-view" (click)="viewPlace(hotel.name)">
          View Place
        </button>
      </div>
    </div>
  </div>
</div>
