<div class="search-bar-container">
  <form [formGroup]="form" (ngSubmit)="submit()" class="search-bar">
    <!-- Location Input -->
    <div class="search-section">
      <p class="section-title">Location</p>
      <input
        formControlName="destination"
        type="text"
        placeholder="Search destinations"
        (focus)="toggleDestinationSuggestions($event)"
        (input)="searchHotels($event)"
      />
    </div>

    <!-- Divider -->
    <div class="divider"></div>

    <!-- Check-in -->
    <div class="search-section">
      <p class="section-title">Check-in Date</p>
      <input
        formControlName="checkIn"
        type="date"
        [min]="today"
        (change)="onDateChange('checkIn')"
      />
    </div>

    <!-- Divider -->
    <div class="divider"></div>

    <!-- Check-out -->
    <div class="search-section">
      <p class="section-title">Check-out Date</p>
      <input
        formControlName="checkOut"
        type="date"
        [min]="form.get('checkIn')?.value || today"
        (change)="onDateChange('checkOut')"
      />
    </div>

    <!-- Divider -->
    <div class="divider"></div>

    <!-- Guests -->
    <div class="search-section">
      <p class="section-title">Guests</p>
      <input
        formControlName="roomsGuests"
        type="text"
        readonly
        (click)="openGuestsModal(guestsModal)"
      />
    </div>

    <!-- Search Button -->
    <div class="search-button-container">
      <button
        type="submit"
        class="search-button"
        [disabled]="!form.valid"
        (click)="submit()"
      >
        <span class="search-icon">Search</span>
      </button>
    </div>
  </form>
</div>

<ng-template #guestsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Guests and Rooms</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let item of ['rooms', 'adults', 'children']">
      <p>{{ item | titlecase }}</p>
      <button (click)="updateGuestsData(item, -1)">-</button>
      <span>{{ guestsData[item] }}</span>
      <button (click)="updateGuestsData(item, 1)">+</button>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<!-- Destination Suggestions -->
<div
  class="destination-suggestions-container"
  *ngIf="showDestinationSuggestions"
>
  <div class="destination-suggestions">
    <div
      *ngFor="let hotel of filteredHotels"
      (click)="selectDestination(hotel.address.country)"
      class="destination-suggestion-item"
    >
      {{ hotel.address.country }}
    </div>
  </div>
</div>
