<nav class="navbar-container">
  <ul class="navbar-item-container">
    <li class="hotels-section">
      <button class="find-hotels-button" (click)="navigateToHotelListing()">
        <i class="bi bi-building"></i>
        Find Hotels
      </button>
    </li>
    <li class="company-name">
      <h3 routerLink="/">Bookify</h3>
    </li>
    <li class="button-section" *ngIf="!(loggedInUser$ | async); else loggedInTrue">
      <button class="changelog-button" routerLink="/changelog">
        <img src="assets/icons/changelog.svg" alt="changelog" class="changelog-icon" />
        Changelog
      </button>
      <button class="login-button" routerLink="/login">Login</button>
      <button class="sign-up-button" routerLink="/sign-up">Sign Up</button>
    </li>

    <ng-template #loggedInTrue>
      <li class="logged-in-container">
        <button class="changelog-button" routerLink="/changelog">
          <img src="assets/icons/changelog.svg" alt="changelog" class="changelog-icon" />
          Changelog
        </button>
        <button class="favorites-button" routerLink="/favorites">
          <i class="bi bi-heart"></i>
          <span class="user-favourites">Favourites</span>
        </button>
        <div class="user-profile-section">
          <span class="user-avatar" routerLink="/account">{{ firstName | logo }}</span>
          <span class="user-name" routerLink="/account">
            {{ firstName }}
          </span>
          <button (click)="toggleMenu()" class="menu-toggle-button">
            <i class="bi bi-caret-down-fill"></i>
          </button>
          <div *ngIf="menuActive" class="user-menu">
            <ul>
              <li routerLink="/account">My Account</li>
              <li routerLink="/account">Settings</li>
              <li (click)="logout()">Logout</li>
            </ul>
          </div>
        </div>
      </li>
    </ng-template>
  </ul>
</nav>