<div class="signup-container">
  <div class="signup-image"></div>
  <form class="form-container" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <h3 class="login-title">Sign up</h3>
    <p class="login-description">Let’s get you all set up so you can access your personal account.</p>

    <section class="input-container">
      <div class="form-row">
        <div class="input-container">
          <input
            type="text"
            placeholder="First Name"
            formControlName="firstName"
            [appFormError]="'firstName'"
            [form]="signUpForm"
            controlName="First Name"
          />
        </div>
        <div class="input-container">
          <input
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
            [appFormError]="'lastName'"
            [form]="signUpForm"
            controlName="Last Name"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="input-container">
          <input type="email" placeholder="Email" formControlName="email" [appFormError]="'email'" [form]="signUpForm" controlName="Email" />
        </div>
        <div class="input-container">
          <input
            type="tel"
            placeholder="Phone Number"
            formControlName="phoneNumber"
            (keyup)="formatPhoneNumber()"
            [appFormError]="'phoneNumber'"
            [form]="signUpForm"
            controlName="Phone Number"
          />
        </div>
      </div>
      <div class="form-col">
        <div class="input-container">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            [appFormError]="'password'"
            [form]="signUpForm"
            controlName="Password"
          />
        </div>
        <div class="input-container">
          <input
            type="password"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [appFormError]="'confirmPassword'"
            [form]="signUpForm"
            controlName="Confirm Password"
          />
        </div>
      </div>
    </section>

    <section class="terms">
      <input type="checkbox" />
      <label>I agree to all <span>Terms </span>and <span> Privacy Policies </span></label>
    </section>

    <section class="button-container">
      <button class="create-account-button" type="submit" [disabled]="signUpForm.invalid">Create account</button>
      <app-social-buttons text="sign up"></app-social-buttons>
    </section>
  </form>
</div>
